<% provide(:title, "Home") %>　

    <h1>VENTUS' WORKOUT SYSTEM</h1>
    <p>
      Let's make a move my bodies.
      <a href="https://makeyourbodywork.com/how-to-exercise-at-home/">workout tutorial</a>
      
    </p>
 